
		.wrapper{
		  background: #252854;
		  width: 100%;
		  height:2000px;
		  border-radius: 5px;
		}
		.text{
		  flex: 0 0 100%;
		  font-size: 14rem;
		  font-weight: 900;
		  color: #00000000;
		  text-align: center;
		  float: left;
		  font-family: 'Lato', sans-serif;
		  margin-left: 10%;
		  border-top: 1px solid #d4d7ff;
		  background:#BDD4B4 url(./img/source.jpg);
		  background-clip: text;
		  -webkit-background-clip: text;
		}
		  
		 .text::after{
		   content: attr(data-text);
		   -webkit-text-stroke: 1.5px #d4d7ff;
		   margin-left: 10%;
		   background:#BDD4B4 url(./img/source.jpg);
		   background-clip: text;
		   -webkit-background-clip: text;
		   background-size: 200%;
		}
		.remove1::after{
		   content: attr(data-text);
		   -webkit-text-stroke: 1.5px #d4d7ff;
		   margin-left: 10%;
		   background:#BDD4B4 url(./img/source.jpg) 70px 30px;
		   background-clip: text;
		   -webkit-background-clip: text;
		   background-size: 200%;
		}
		
		.color1{
		  flex: 0 0 100%;
		  font-size: 14rem;
		  font-weight: 900;
		  color: #00000000;
		  text-align: center;
		  float: left;
		  font-family: 'Lato', sans-serif;
		  margin-left: 10%;
		  border-top: 1px solid #d4d7ff;
		  background:#CDDBD5 url(./img/source.jpg);
		  background-clip: text;
		  -webkit-background-clip: text;
		}
		  
		 .color1::after{
		   content: attr(data-text);
		   -webkit-text-stroke: 1.5px #d4d7ff;
		   margin-left: 10%;
		   background:#CDDBD5 url(./img/source.jpg);
		   background-clip: text;
		   -webkit-background-clip: text;
		   background-size: 200%;
		}
		.remove2::after{
		   content: attr(data-text);
		   -webkit-text-stroke: 1.5px #d4d7ff;
		   margin-left: 10%;
		   background:#CDDBD5 url(./img/source.jpg) 70px 30px;
		   background-clip: text;
		   -webkit-background-clip: text;
		   background-size: 200%;
		}
		.color2{
		  flex: 0 0 100%;
		  font-size: 14rem;
		  font-weight: 900;
		  color: #00000000;
		  text-align: center;
		  float: left;
		  font-family: 'Lato', sans-serif;
		  margin-left: 10%;
		  border-top: 1px solid #d4d7ff;
		  background:#ECC7AA url(./img/source.jpg);
		  background-clip: text;
		  -webkit-background-clip: text;
		}
		.color2::after{
		   content: attr(data-text);
		   -webkit-text-stroke: 1.5px #d4d7ff;
		   margin-left: 10%;
		   background:#ECC7AA url(./img/source.jpg);
		   background-clip: text;
		   -webkit-background-clip: text;
		   background-size: 200%;
        }
        .remove3::after{
            content: attr(data-text);
            -webkit-text-stroke: 1.5px #d4d7ff;
            margin-left: 10%;
            background:#ECC7AA url(./img/source.jpg) 70px 30px;
            background-clip: text;
            -webkit-background-clip: text;
            background-size: 200%;
         }
		.color3{
		  flex: 0 0 100%;
		  font-size: 14rem;
		  font-weight: 900;
		  color: #00000000;
		  text-align: center;
		  float: left;
		  font-family: 'Lato', sans-serif;
		  margin-left: 10%;
		  border-top: 1px solid #d4d7ff;
		  background:#9070A7 url(./img/source.jpg);
		  background-clip: text;
		  -webkit-background-clip: text;
		}
		.color3::after{
		   content: attr(data-text);
		   -webkit-text-stroke: 1.5px #d4d7ff;
		   margin-left: 10%;
		   background:#9070A7 url(./img/source.jpg);
		   background-clip: text;
		   -webkit-background-clip: text;
		   background-size: 200%;
        }
        .remove4::after{
            content: attr(data-text);
            -webkit-text-stroke: 1.5px #d4d7ff;
            margin-left: 10%;
            background:#9070A7 url(./img/source.jpg) 70px 30px;
            background-clip: text;
            -webkit-background-clip: text;
            background-size: 200%;
         }
        
