body{
    background: linear-gradient(to right bottom,#008080,#008000);
}

.parent{
		position: absolute;
	top: 90px;
	left:110px;
}

.triangle1 {
  flex-direction: row;
      border-bottom: 100px solid yellow;
      opacity: 0.7;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-right: 100px solid transparent;
     
    }

.triangle1:hover{
  transform: scaleX(0.5);
}


.triangle2 {
	position: relative;
	top:-70px;
      border-top: 100px solid blue;
      opacity: 0.4;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-right: 100px solid transparent;

    }

.triangle2:hover{
   transform: scaleX(0.5);
}


.triangle3 {
      border-bottom: 100px solid blue;
      opacity: 0.7;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-right: 100px solid transparent;
    }

.triangle3:hover{
    transform: scale(1.5, 0.5);
  }


.triangle4 {
	position: relative;
	top:-70px;
      border-top: 100px solid yellow;
      opacity: 0.4;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-right: 100px solid transparent;

    }

.triangle4:hover{
    transform: scale(1.5, 0.5);
  }
.parent2{
		position: absolute;
	top: 90px;
	right:110px;
}


.triangle5 {
  flex-direction: row;
      border-bottom: 100px solid yellow;
      opacity: 0.7;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-left: 100px solid transparent;
     
    }

.triangle5:hover{
  transform: scaleX(0.5);
}


.triangle6 {
	position: relative;
	top:-70px;
      border-top: 100px solid blue;
      opacity: 0.4;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-left: 100px solid transparent;

    }

.triangle6:hover{
   transform: scaleX(0.5);
}


.triangle7 {
      border-bottom: 100px solid blue;
      opacity: 0.7;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-left: 100px solid transparent;
    }

.triangle7:hover{
    transform: scale(1.5, 0.5);
  }


.triangle8 {
	position: relative;
	top:-70px;
      border-top: 100px solid yellow;
      opacity: 0.4;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-left: 100px solid transparent;

    }

.triangle8:hover{
    transform: scale(1.5, 0.5);
  }
.parent3{
		position: absolute;
	top: 90px;
	left:220px;
}


.triangle1 {
  flex-direction: row;
      border-bottom: 100px solid yellow;
      opacity: 0.7;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-right: 100px solid transparent;
     
    }

.triangle1:hover{
  transform: scaleX(0.5);
}


.triangle2 {
	position: relative;
	top:-70px;
      border-top: 100px solid blue;
      opacity: 0.4;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-right: 100px solid transparent;

    }

.triangle2:hover{
   transform: scaleX(0.5);
}


.triangle3 {
      border-bottom: 100px solid blue;
      opacity: 0.7;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-right: 100px solid transparent;
    }

.triangle3:hover{
    transform: scale(1.5, 0.5);
  }


.triangle4 {
	position: relative;
	top:-70px;
      border-top: 100px solid yellow;
      opacity: 0.4;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-right: 100px solid transparent;

    }

.triangle4:hover{
    transform: scale(1.5, 0.5);
  }

  .parent4{
		position: absolute;
	top: 90px;
	left:330px;
}


.triangle1 {
  flex-direction: row;
      border-bottom: 100px solid yellow;
      opacity: 0.7;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-right: 100px solid transparent;
     
    }

.triangle1:hover{
  transform: scaleX(0.5);
}


.triangle2 {
	position: relative;
	top:-70px;
      border-top: 100px solid blue;
      opacity: 0.4;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-right: 100px solid transparent;

    }

.triangle2:hover{
   transform: scaleX(0.5);
}


.triangle3 {
      border-bottom: 100px solid blue;
      opacity: 0.7;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-right: 100px solid transparent;
    }

.triangle3:hover{
    transform: scale(1.5, 0.5);
  }


.triangle4 {
	position: relative;
	top:-70px;
      border-top: 100px solid yellow;
      opacity: 0.4;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-right: 100px solid transparent;

    }

.triangle4:hover{
    transform: scale(1.5, 0.5);
  }

 .parent5{
		position: absolute;
	top: 90px;
	left:440px;
}


.triangle1 {
  flex-direction: row;
      border-bottom: 100px solid yellow;
      opacity: 0.7;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-right: 100px solid transparent;
     
    }

.triangle1:hover{
  transform: scaleX(0.5);
}


.triangle2 {
	position: relative;
	top:-70px;
      border-top: 100px solid blue;
      opacity: 0.4;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-right: 100px solid transparent;

    }

.triangle2:hover{
   transform: scaleX(0.5);
}


.triangle3 {
      border-bottom: 100px solid blue;
      opacity: 0.7;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-right: 100px solid transparent;
    }

.triangle3:hover{
    transform: scale(1.5, 0.5);
  }


.triangle4 {
	position: relative;
	top:-70px;
      border-top: 100px solid yellow;
      opacity: 0.4;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-right: 100px solid transparent;

    }

.triangle4:hover{
    transform: scale(1.5, 0.5);
  }
.parent6{
		position: absolute;
	top: 90px;
	right:220px;
}


.triangle5 {
  flex-direction: row;
      border-bottom: 100px solid yellow;
      opacity: 0.7;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-left: 100px solid transparent;
     
    }

.triangle5:hover{
  transform: scaleX(0.5);
}


.triangle6 {
	position: relative;
	top:-70px;
      border-top: 100px solid blue;
      opacity: 0.4;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-left: 100px solid transparent;

    }

.triangle6:hover{
   transform: scaleX(0.5);
}


.triangle7 {
      border-bottom: 100px solid blue;
      opacity: 0.7;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-left: 100px solid transparent;
    }

.triangle7:hover{
    transform: scale(1.5, 0.5);
  }


.triangle8 {
	position: relative;
	top:-70px;
      border-top: 100px solid yellow;
      opacity: 0.4;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-left: 100px solid transparent;

    }

.triangle8:hover{
    transform: scale(1.5, 0.5);
  }

  .parent7{
		position: absolute;
	top: 90px;
	right:330px;
}


.triangle5 {
  flex-direction: row;
      border-bottom: 100px solid yellow;
      opacity: 0.7;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-left: 100px solid transparent;
     
    }

.triangle5:hover{
  transform: scaleX(0.5);
}


.triangle6 {
	position: relative;
	top:-70px;
      border-top: 100px solid blue;
      opacity: 0.4;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-left: 100px solid transparent;

    }

.triangle6:hover{
   transform: scaleX(0.5);
}


.triangle7 {
      border-bottom: 100px solid blue;
      opacity: 0.7;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-left: 100px solid transparent;
    }

.triangle7:hover{
    transform: scale(1.5, 0.5);
  }


.triangle8 {
	position: relative;
	top:-70px;
      border-top: 100px solid yellow;
      opacity: 0.4;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-left: 100px solid transparent;

    }

.triangle8:hover{
    transform: scale(1.5, 0.5);
  }

  .parent8{
		position: absolute;
	top: 90px;
	right:440px;
}


.triangle5 {
  flex-direction: row;
      border-bottom: 100px solid yellow;
      opacity: 0.7;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-left: 100px solid transparent;
     
    }

.triangle5:hover{
  transform: scaleX(0.5);
}


.triangle6 {
	position: relative;
	top:-70px;
      border-top: 100px solid blue;
      opacity: 0.4;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-left: 100px solid transparent;

    }

.triangle6:hover{
   transform: scaleX(0.5);
}


.triangle7 {
      border-bottom: 100px solid blue;
      opacity: 0.7;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-left: 100px solid transparent;
    }

.triangle7:hover{
    transform: scale(1.5, 0.5);
  }


.triangle8 {
	position: relative;
	top:-70px;
      border-top: 100px solid yellow;
      opacity: 0.4;
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-left: 100px solid transparent;

    }

.triangle8:hover{
    transform: scale(1.5, 0.5);
  }