.box-1{
	float;left: 
	width:400px;
	height:400px;
	background: #CD5C5C;
	background-image: radial-gradient(tan 30%,transparent 0),
	                  radial-gradient(tan 30%,transparent 0);
	background-size: 30px 30px;
	background-position: 0 0,15px 15px;
}
.box-1:hover{
	float;left: 
	width:400px;
	height:400px;
	background: red;
	background-image: radial-gradient(tan 30%,transparent 0),
	                  radial-gradient(tan 30%,transparent 0);
	background-size: 10px 10px;
	background-position: 0 0,15px 15px;
}