body{
    
  background:rgba(65, 7, 173, 0.5);
  background-size: 100% 100%;
  background-repeat: repeat;
  ;
}

#container1{
display: flex;
position: relative;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;

}

.rect1{
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid #922B21;
      transform: rotate(45deg);
      background-color: #B03A2E;
}

.rect1:hover {
   top:15%;
  left: 15%;
  width: 75%;
  height: 75%;
  transform: rotateZ(25deg);
  transition: transform 0.5s;

}

.rect2{
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid #922B21;
      transform: rotate(45deg);
      background-color: #B03A2E;
}

.rect2:hover {
  transform: rotateZ(25deg);
  transition: transform 0.5s;

}


.rect3{
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid #922B21;
      transform: rotate(45deg);
      background-color: #B03A2E;
}

.rect3:hover {
  transform: rotateZ(25deg);
  transition: transform 0.5s;

}


.rect4{
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid #922B21;
      transform: rotate(45deg);
      background-color: #B03A2E;
}

.rect4:hover {
  transform: rotateZ(25deg);
  transition: transform 0.5s;

}


#container2{
display: flex;
position: relative;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;

}

#container3{
display: flex;
position: relative;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;

}

#container3{
display: flex;
position: relative;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;

}

#container4{
display: flex;
position: relative;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;

}

